<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="contenedor header-container">
            <div class="burger-menu nav-icons">
                <a href="/login"><i class="fas fa-bars"></i></a>
            </div>
            <img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo">
            <div class="product-cart nav-icons">
            <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
            </div>
        </div>
    </header>
    <section class="bannerppal">
        <img src="/img/hero.png" alt="img-banner-ppal">
    </section>
    <main class="contenedor">
        <section class="main-container">
            <div class="new-nav">
                <h3>Nuevas entradas</h3></a></li>
                <button class="see-all__button">Ver todos</button>
            </div>
            <div class="contenedor-productos">

                <div class="product"> 
                    <a href="productDetail">                
                    <div class="product-img">   
                        <img src="/img/image2.jpg" alt="product-image">
                        <p class="precio">$ 860</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model"> Air Jordan<br> Mid SE</p>
                        <h4>High OG <br> Sneaker</h4>
                    </div>
                    </a> 
                </div>

                <div class="product">
                    <a href="productDetail2">   
                    <div class="product-img">
                        <img src="/img/image.png" alt="product-image">
                        <p class="precio">$ 560</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Jordan 1 <br> Mid SE</p>
                        <h4>Coconut Milk <br> Particle Grey</h4>
                    </a>
                </div>

                <div class="product product-desktop"> 
                    <a href="productDetail">                
                    <div class="product-img">   
                        <img src="/img/image2.jpg" alt="product-image">
                        <p class="precio">$ 860</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model"> Air Jordan<br> Mid SE</p>
                        <h4>High OG <br> Sneaker</h4>
                    </div>
                    </a> 
                </div>

                <div class="product product-desktop">
                    <a href="productDetail2">   
                    <div class="product-img">
                        <img src="/img/image.png" alt="product-image">
                        <p class="precio">$ 560</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Jordan 1 <br> Mid SE</p>
                        <h4>Coconut Milk <br> Particle Grey</h4>
                    </a>
                </div>

            </div>
        </section>

        <section class="main-container">
            <div class="new-nav">
                <h3>Recomendados</h3>
                <button class="see-all__button">Ver todos</button>
            </div>
            <div class="contenedor-productos">
            <article class="product">
                <div class="product-img">
                    <img src="/img/image.png" alt="product-image">
                    <p class="precio">$ 560</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Jordan 1 <br> Mid SE</p>
                    <h4>Coconut Milk <br> Particle Grey</h4>
                </div>
            </article>
            <article class="product">
                <div class="product-img">
                    <img src="/img/image.png" alt="product-image">
                    <p class="precio">$ 560</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Jordan 1 <br> Mid SE</p>
                    <h4>Coconut Milk <br> Particle Grey</h4>
                </div>
            </article>
            </div>
            </div>
        </section>
    </main>
    <footer class="contenedor">
        <div class="footer-flex">
            <div class="redes">
                <div>
                    <h2 class="pie">Instagram</h2>                          
                </div>
                <div>
                    <h2 class="pie">Facebook</h2>
                </div>
                <div>
                    <h2 class="pie">Youtube</h2>                    
                </div>
            </div>
            <div class="politics"><!-- class="politicas-compania" -->
                <p>Política de privacidad</p>
                <p>Condición de compra</p>
            </div>
        </div> 

        <div>
            <h4 class="copyright"><span>©2022 Lacez Society.</span> Todos los derechos reservados</h4>
        </div>                           
    </footer>
</body>
</html>