<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>

    <main>
        <div>
            <h2>Hola</h2>
            <h2>.</h2>
        </div>
        <div>
            <p>Iniciar sesion</p>
            <p>/</p>
            <p>Eres Nuevo?</p>
        </div>
        <form action="" method="">
            <ul>
                <li>
                    <label for="mail"></label>
                    <input type="email" id="mail" name="user_mail" placeholder="*E-mail">
                </li>
                <li>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="*Contrasena">
            </ul>
        </form>
        <div>
            <p>Recuperar Contrasenia</p>
        </div>
        <div>
            <li class="button">
                <button type="submit">Iniciar sesion</button>
            </li>
        </div>
        <div>
            <li class="button">
                <button type="submit">Regresar</button>
            </li>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>


