<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="contenedor header-container">
            <div class="burger-menu nav-icons">
                <i class="fas fa-bars"></i>
            </div>
            <img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo">
            <div class="product-cart nav-icons">
                <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div class="compras centrar ">
           <div class="bolsa"><h2>Bolsa de compras</h2></div>
            <div>
                <div class="lista-de-productos centrar">
                    <div class="producto  centrar flex-lineal">
                        <div>
                            <img class="imagen" src="\img\image2.jpg" alt="zapatilla roja">
                        </div>
                        <div>
                            <P class="precio-prod">$860</P>
                            <h3 class="nombre-prod">Jordan 2 Mid SE</h3>
                            <P class="color-prod">High OG Sneakers</P>
                            <p class="talla-prod">Talla 9,5</p>
                        </div>
                    </div>
                <div class="lista-de-productos centrar">
                    <div class="producto centrar flex-lineal">
                        <div>
                            <img class="imagen" src="\img\image.png" alt="zapatilla gris">
                        </div>
                        <div>
                            <P class="precio-prod">$575</P>
                            <h3 class="nombre-prod">Jordan 1 Mid SE</h3>
                            <P class="color-prod">Coconut Milk Particle</P>
                            <p class="talla-prod">Talla 8,5</p>
                        </div>
                    </div>
                </div>
                <div class="centrar info-total">
                    <ul class="centrar list-info-total">
                        <li class="centrar">
                            <p class="precio-carro">Sub Total: $1435.00</p>
                        </li>
                        <li class="centrar">
                            <p class="envio-carro">Envio: $55.00</p>
                        </li>
                        <li class="centrar">
                            <p class="total-carro">Total: $1490.00</p>
                        </li>
                    </ul>
                </div>
                <div class="fin-compra centrar"><a class="centrar" href="/">Finalizar compra</a></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-flex">
            <div>
                <div>
                    <p>Instagram</p>
                </div>

                <div>
                    <p>Facebook</p>
                </div>

                <div>
                    <p>Youtube</p>
                </div>
            </div>

            <div>
                <p>Política de privacidad</p>
                <p>Condición de compra</p>
            </div>
        </div>

        <div>
            <h4 class="copyright">© 2022 Lacez Society. Todos los derechos reservados</h4>
        </div>

    </footer>
</body>

</html>