<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head>
<body>
    </header>
    <header class="header">
        <div class="contenedor header-container">
            <div class="burger-menu nav-icons">
                <a href="/login"><i class="fas fa-bars"></i></a>
            </div>
            <img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo">
            <div class="product-cart nav-icons">
            <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="saludo-login"> 
                <h4 class="hola-login">Hola</h4><h4 class="punto-amarillo">.</h4>
            </div>  
        </div>
        <div class="centrar">
            <p>Iniciar sesion</p>
            <p>/</p>
            <p>Eres Nuevo?</p>
        </div>
        <form action="" method="">
            <ul>
                <li>
                    <div class="form-inicio">
                    <label for="nombre"></label>
                    <input type="nombre" id="nombre" name="nombre" placeholder="*Nombre">
                    </div>
                </li>
                <div class="form-inicio">
                    <label for="mail"></label>
                    <input type="email" id="mail" name="user_mail" placeholder="*E-mail">
                </div>
                <li>
                    <div class="form-inicio">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="*Contrasena">
                </div>
            </ul>
        </form>
        <div>
            <li class="button">
                <button type="submit">registrate</button>
            </li>
        </div>
        <div>
            <li class="button">
                <button type="submit">Regresar</button>
            </li>
        </div>
    </main>
        <footer>
            <div class="footer-flex">
                <div>
                    <div>
                        <h2 class="pie">Instagram</h2>                          
                    </div>

                    <div>
                         <h2 class="pie">Facebook</h2>
                    </div>

                    <div>
                        <h2 class="pie">Youtube</h2>                    
                    </div>
                </div>
                <div><!-- class="politicas-compania" -->
                    <p>Política de privacidad</p>
                    <p>Condición de compra</p>
                </div>
            </div> 
            <div>
                <h4 class="copyright">© 2022 Lacez Society. Todos los derechos reservados</h4>
            </div>
    </footer>
</body>
</html>