.tittle {
    font-size: 28px;
    color: var(--gris-oscuro);
    width: 80%;
    margin-bottom: 20px;
}

.modify_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: flex-start;
}

.product_img {
    width: 100%;
}

.product_info {
    width: 100%;
}

.form-label {
    font-size: 16px;
    color: var(--gris-oscuro);
    font-weight: 300;
    width: 50%;
}

.double_slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_divs {
    margin: 10px auto;
}

select {
    border: none;
}

.div-select {
    width: 48%;
}

.slot {
    width: 47%;
    height: 100%;
}

.form-select {
    width: 100%;
    display: flex;
    padding: 15px 30px;
    margin: 10px auto;
    color: var(--gris-oscuro);
    background-color: #e1e1e1;
}

.input_slot {
    padding: 15px 30px;
    margin: 10px auto;
    width: 100%;
    color: var(--gris-claro);
    background-color: #e1e1e1;
    border-style: none;
}

.text_area {
    font-family:'Lato', sans-serif;
}

@media (min-width: 900px) {

    .modify_section {
        justify-content: space-between;
    }

    .product_img {
        width: 50%;
        height: 50%;
    }
    
    .product_info {
        width: 40%;
    }
}