.tittle {
    font-size: 34px;
    margin: 15px auto;
    color: var(--gris-oscuro);
}

.modify_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product_img {
    width: 100%;
}

.product_info {
    width: 100%;
}

.form-label {
    font-size: 18px;
    color: var(--gris-oscuro);
    font-weight: 300;
}

.double_slot {
    display: flex;
    justify-content: space-between;
}

.form_divs {
    margin: 25px auto;
}

.slot {
    width: 47%;
    height: 100%;
}

.input_slot {
    padding: 15px 30px;
    margin: 10px auto;
    width: 100%;
    color: var(--gris-claro);
    background-color: #e1e1e1;
    border-style: none;
}

.text_area {
    font-family:'Lato', sans-serif;
}

@media (min-width: 900px) {

    .modify_section {
        justify-content: space-between;
    }

    .product_img {
        width: 50%;
        height: 50%;
    }
    
    .product_info {
        width: 40%;
    }
}