.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.line {
    background-color: var(--gris-claro);
    width: 80%;
    height: 1px;
}

.pie {
    font-size: 14px;
    color: var(--gris-claro);
    font-weight: 400;  
}

.footer-flex { 
    margin: 20px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin: 20px auto;
}

.politics {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}

.politics-line {
    background-color: var(--gris-claro);
    width: 1px;
}

.politics p {
    color: var(--gris-claro);
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
}


.copyright{
    font-size: 14px;
    margin: 20px auto;
    color: var(--gris-oscuro);
    font-weight: 400;
    text-align: center;
}

.copyright span {
    text-transform: uppercase;
}

@media (min-width: 381px) {

.politics p {
    color: var(--gris-claro);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}
    
}