.header {
    margin: 20px auto 0px;
    padding: 0px 0px 20px;
    box-shadow: 1px 1px 1px #cecece;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px;
}

.logo-nav {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.burger-menu {
    color: var(--gris-oscuro);
}

.nav-icons {
    padding: 6px 10px;
    background-color: white;
    box-shadow: 1px 1px 1px #cecece;
    border-radius: 3px;
}

.nav-user-shopping {
    display: flex;
    gap: 5px;
}

.user-icon {
    color: var(--gris-oscuro);
}

.product-cart {
    color: var(--gris-oscuro);
}

.link-logo {
    text-align: center;
    padding-left: 10px;
}


@media (min-width: 381px) {
    .logo-nav {
        width: 20%;
    }
}

@media (min-width: 900px) {
    .logo-nav {
        width: 10%;
    }
}
   