
.main-container {
    margin-top: 20px;
}

.new-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 10px;
}

.new-nav h3 {
    font-weight: 400;
}

.see-all__button {
    font-weight: 300;
    background-color: white;
    border: none;
    color: var(--gris-claro);
}


.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

img {
   width: 100%;
}



   /*                   FORMULARIO INICIO SESION                   */

/* .inicio-login{
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
} */

/* .espacio-login{
    width: 100%;
}


form div{
    width: 100%;
}

form button{
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FFD600;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}


form input{
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    transition: all 350ms;
}

.saludo-login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
}

.hola-login{
    font-size: 60px;
    font-family:'Lato', sans-serif;
    font-weight: bold ;
    color: #404040;
    
}

.punto-amarillo{
    font-size: 60px;
    font-family:'Lato', sans-serif;
    color: #FFD600;
    margin-left: 4px;
}

.espacio-login{
    width: 50%;
    
}

*/



.saludo-login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8px;
    padding: 8px;
    font-size: 60px;
    font-family:'Lato', sans-serif;
    font-weight: bolder ;
    margin-bottom: 15px;
 }
 
 .punto-amarillo{
    color: #FFD600;
    margin-left: 4px;
 }

 .hola-login{
     color: #404040;
 }
 
 .login-option{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    font-size: 18px;
    font-family:'Lato', sans-serif;

 }
 
 .login-option p{
    font-family:'Lato', sans-serif;
    color: #404040;
    padding: 4px;
    font-weight: bold;
 }

.form-inicio{
    font-size: 18px;
    font-family:'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
 }

.form-inicio div{
    padding: 5px;
    margin: 4px;
}

.form-inicio input{
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: #404040;
    background-color: #cecece;
    border-style: none;

}

.form-inicio button{
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #FFD600;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-style: none;
}

.form-inicio a{
    color: #404040;
}

