.saludo-login {
    font-size: 60px;
    margin-bottom: 15px;
}

.punto-amarillo {
    color: #FFD600;
    margin-left: 4px;
}

.hola-login {
    color: #404040;
}
 
.login-option{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
}

.login-option p{
    color: var(--gris-oscuro);
 }

.miembro-nuevo-login {
    font-weight: 300;
}

.miembro-nuevo-login:hover {
    font-weight: 400;
}
 
.form-inicio{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    width: 100%;
    margin-top: 10px;
}

.espacio-reg{
    padding: 15px 30px;
    margin: 10px auto;
    width: 100%;
    color: var(--gris-claro);
    background-color: #e1e1e1;
    border-style: none;
}

.is-invalid {
    border: solid 1px red;
}

.error-text {
    font-size: 12px;
    color: red;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.default_button {
    color: var(--gris-oscuro);
    background-color: #FFD600;
    padding: 15px;
    margin: 10px auto;
    width: 100%;
    border-style: none;
    cursor: pointer;
}

.reset_button {
    opacity: 0.5;
}

.default_button:hover {
    opacity: 1;
}

.menu {
    color: #404040;
    font-size: 13px;
    font-weight: 300;
}

@media (min-width: 900px) {
    .container-form {
        margin: auto;
        width: 40%;
    }
}
