.new-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.bannerppal {
    margin-top: 20px;
}

.hero-desktop {
    display: none;
}

.hero-mobile {
    display: block;
}

.new-nav h3 {
    font-weight: 400;
    color: var(--gris-oscuro);
    font-size: 25px;
}

.see-all__button {
    font-weight: 300;
    background-color: white;
    border: none;
    color: var(--gris-claro);
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.product-img {
    position: relative;
    background-color: #F6F6F6;
}

.precio {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: var(--amarillo);
    padding: 5px 20px;
    color: var(--gris-oscuro);
    font-weight: 700;
}

.currency-symbol {
    font-size: 12px;
}


.product {
    display: block;
    width: 48%;
}

.product-desktop {
    display: none;
}


.boton-enviar{
    padding: 1%;
    background-color:#FFD600;
    color: #404040;
}

.product-description {
    margin: 10px 0px;
}

.product-model {
    font-weight: 700;
    color: var(--gris-oscuro);
    font-size: 16px;
}

@media (min-width: 381px) {

}

@media (min-width: 900px) {

    .hero-desktop {
        display: block;
    }
    
    .hero-mobile {
        display: none;
    }

    .product {
        display: block;
        width: 23%;
    }

    .product-desktop {
        display:block;
    }
}



