.cart {
    position: relative;
}

.cart__title {
    font-size: 26px;
    font-weight: 700;
    color: var(--gris-oscuro);
    margin-bottom: 20px;
}

.cart__product {
    display: flex;
    flex-wrap: wrap;
}

.cart__product-img {
    width: 50%;
}

.cart__product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15px;
    width: 50%;
    gap: 5px;
}

.cart__product-price {
    width: 50%;
    font-size: 20px;
    background-color: var(--amarillo);
    padding: 5px 15px;
    font-weight: 900;
    color: var(--gris-oscuro);
}

.cart__product-name {
    width: 70%;
    font-size: 16px;
    color: var(--gris-oscuro);
    font-weight: 700;
}

.cart__product-size{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

.cart__costs {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.cart__costs-list {
    background-color: var(--gris-oscuro);
    color: var(--gris-clarouno);
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    gap: 10px;
    font-size: 15px;
    font-weight: 300;
}

.costs-list--total {
    color: var(--amarillo);
    font-size: 18px;
    font-weight: 700;
}

.cart__button {
    margin: 40px 0px 20px 30%;
}

.cart__button a {
    text-align: center;
    background-color: var(--amarillo);
    font-weight: 400;
    color: var(--gris-oscuro);
    padding: 12px 30px;
}

@media (min-width: 900px) {
    .cart__product-img {
        width: 15%;
        margin-left: 15%;
    }

    .cart__product-description {
        width: 30%;
    }

    .cart__product-price {
        width: 15%;
    }

    .cart__product-name {
        width: 30%;
    }


    .cart__costs {
        width: 70%;
        position: absolute;
        top:5%;
        right: 0px;
    }

    .cart__button {
        position: absolute;
        top:30%;
        right: 40%;
    }

    
}

  