.user-image {
    clip-path: circle();
    width: 70%;
    margin: auto;
}

.container-user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.edit-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.fa-pen-to-square {
    color: var(--gris-claro);
}

.fa-pen-to-square:hover {
    color: var(--amarillo);
}

.user-form {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user-nickname {
    font-weight: 700;
    color: var(--gris-oscuro);
    font-size: 40px;
}

.user-name {
    font-weight: 600;
    color: var(--gris-oscuro);
    font-size: 20px;
    margin: 0px 0px 5px;
}

.user-email {
    color: var(--gris-claro);
    margin: 0px 0px 15px;
}

.yellow-line {
    margin: 20px 0px;
    align-self: center;
    width: 150px;
    height: 1px;
    background-color: var(--amarillo);
}

.user-main {
    margin-top: 50px;
}

@media (min-width: 381px) {
    .user-image {
        clip-path: circle();
        width: 40%;
    }  
}

@media (min-width: 900px) {
    .user-image {
        clip-path: circle();
        width: 20%;
    }  
}
