.inicio-sesion-register {
    font-weight: 300;    
}

.inicio-sesion-register:hover {
    font-weight: 400;    
}

.registro input{
    padding: 15px 30px;
    margin: 10px auto;    
    width: 100%;
}
