<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <main>
      <div class="contenedor">
        <div class="error">
            <p class="error__text">Oo<span class="amarillo">ps!</span></p>
            <p class="error__content"><span class="amarillo">//</span> ERR_CONNECTION_FAILED</p>
            <p class="error__save">No entres en panico podemos ayudarte</p>
            <form action="/">
                <button class="button-52" type="submit">Regresar a Lacež</button>
            </form>
        </div>
      </div>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
