<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <main class="contenedor condiciones__contenedor">
      <h4 class="condiciones__titulo">
        Condiciones uso y compra <span class="punto-amarillo">.</span>
      </h4>
      <p class="condiciones__texto">
        <strong>Uso de nuestro sitio web</strong> Al hacer uso de esta página
        web y realizar pedidos a través de la misma usted se compromete a:
        <br /><br />
      </p>
            <div class="condiciones__uso">
                <p class="condiciones__texto">
                <span class="slash-amarillo">/</span>  Hacer uso de esta página web únicamente para realizar consultas o
                pedidos legalmente válidos. <br />
                <span class="slash-amarillo">//</span>  No realizar ningún pedido falso o fraudulento. Si razonablemente se
                pudiera considerar que se ha hecho un pedido de esta índole estaremos
                autorizados a anularlo e informar a las autoridades pertinentes. <br />
                <span class="slash-amarillo">///</span>  Facilitarnos su dirección de correo electrónico, dirección y/u otros
                datos de contacto de forma veraz y exacta. Asimismo, consiente que
                podremos hacer uso de dicha información para ponernos en contacto con
                usted si es necesario (ver nuestra <a class="condiciones__texto link__politicas" href="/politicas">Política de Protección de Datos
                Personales</a>). Si no nos facilita usted toda la información que
                necesitamos, no podremos cursar su pedido.
                </p>
            </div>
      <br /><br />
      <p class="condiciones__texto">
      <strong>Cómo realizar un pedido</strong> Para realizar un pedido, deberá
      seguir el procedimiento de compra online y hacer clic en "Autorizar pago".
      Tras esto, recibirá un correo electrónico acusando recibo de su pedido (la
      "Confirmación de Pedido"). Asimismo, le informaremos mediante correo
      electrónico que el producto está siendo enviado (la "Confirmación de
      Envío").
      </p>
      <%- include ('./partials/newsletter') %>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
