<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head> -->
<%- include ('./partials/head') %> 
<body>
<!--     <header class="header">
        <div class="contenedor header-container">
            <div class="burger-menu nav-icons">
                <a href="/login"><i class="fas fa-bars"></i></a>
            </div>
            <img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo">
            <div class="product-cart nav-icons">
            <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
            </div>
        </div>
    </header> -->
    <%- include ('./partials/header') %>
    <section class="bannerppal">
        <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
        <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
    </section>
    <main class="contenedor">
        <section class="main-container">
            <div class="new-nav">
                <a href="#"><h3>Nuevas entradas</h3></a></li>
                <button class="see-all__button">Ver todos</button>
            </div>
            <div class="contenedor-productos">

                <article class="product"> 
                    <a href="productDetail">                
                    <div class="product-img">   
                        <img src="/img/jordan-1-coconut.png" alt="product-image">
                        <p class="precio"><span class="currency-symbol">$</span> 575</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Jordan 1 Mid SE</p>
                        <h4>Coconut Milk<br>Particle Grey</h4>
                    </div>
                    </a> 
                </article>

                <article class="product">
                    <a href="#">   
                    <div class="product-img">
                        <img src="/img/dunk-fossil-rose.png" alt="product-image">
                        <p class="precio"><span class="currency-symbol">$</span> 110</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Dunk Low</p>
                        <h4>Fossil Rose</h4>
                    </a>
                </article>
                <article class="product product-desktop">
                    <div class="product-img">
                        <img src="/img/airmax-off-noir.png" alt="product-image">
                        <p class="precio"><span class="currency-symbol">$</span> 200</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Air Max 97</p>
                        <h4>Off Noir</h4>
                    </div>
                </article>
                <article class="product product-desktop">
                    <div class="product-img">
                        <img src="/img/airmax-bw-marina.png" alt="product-image">
                        <p class="precio"><span class="currency-symbol">$</span> 130</p>
                    </div>
                    <div class="product-description ">
                        <p class="product-model">Air Max BW</p>
                        <h4>Marina</h4>
                    </div>
                </article>
            </div>
        </section>

        <section class="main-container">
            <div class="new-nav">
                <a href="#"><h3>Recomendados</h3></a>
                <button class="see-all__button">Ver todos</button>
            </div>
            <div class="contenedor-productos">
            <article class="product">
                <div class="product-img">
                    <img src="/img/airmax-off-noir.png" alt="product-image">
                    <p class="precio"><span class="currency-symbol">$</span> 200</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Air Max 97</p>
                    <h4>Off Noir</h4>
                </div>
            </article>
            <article class="product">
                <div class="product-img">
                    <img src="/img/airmax-bw-marina.png" alt="product-image">
                    <p class="precio"><span class="currency-symbol">$</span> 130</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Air Max BW</p>
                    <h4>Marina</h4>
                </div>
            </article>
            <article class="product product-desktop">
                <div class="product-img">
                    <img src="/img/airmax-off-noir.png" alt="product-image">
                    <p class="precio"><span class="currency-symbol">$</span> 200</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Air Max 97</p>
                    <h4>Off Noir</h4>
                </div>
            </article>
            <article class="product product-desktop">
                <div class="product-img">
                    <img src="/img/airmax-bw-marina.png" alt="product-image">
                    <p class="precio"><span class="currency-symbol">$</span> 130</p>
                </div>
                <div class="product-description ">
                    <p class="product-model">Air Max BW</p>
                    <h4>Marina</h4>
                </div>
            </article>
            </div>
            </div>
        </section>
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>