<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
    <body>
        <%- include ('./partials/header') %>
    <section class="bannerppal">
        <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
        <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
    </section>
        <main class="contenedor">
            <div class="container-form">
                <div class="saludo-login"> 
                    <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
                </div> 
                <div class="login-option">
                    <a href="/user/login" class="inicio-sesion"><P>Iniciar sesión</P></a>
                    <p>/</p>
                    <a href="/user/register"><p class="miembro-nuevo-login">¿Eres nuevo?</p></a>
                </div> 
                <form action="/" method="get" class="form-inicio">
                    <div>
                        <div>
                            <input class="espacio-reg" type="email" name="nombreUsuario" id="nombreUsuario" placeholder="E-mail" required>
                        </div>
                        <div>
                            <input class="espacio-reg" type="password" name="password" id="password" placeholder="Contraseña" required>
                        </div>
                        <div>
                            <a href="#" class="menu">Recuperar Contraseña</a>
                        </div>
                        <div class="buttons">
                            <div>
                                <button class="default_button button-login" type="submit" name="confirmar" id="confirmar">Iniciar Sesion</button>
                            </div>
                            <div>
                                <button class="default_button reset_button" type="reset" name="eliminar" id="eliminar">Regresar</button>
                            </div>
                        </div>    
                    </div>
                </form> 
            </div>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>


