<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %> 
    <body>
        <%- include ('./partials/header') %>
    <section class="bannerppal">
        <img class="hero-desktop" src="/img/hero-desktop.png" alt="img-banner-ppal">
        <img class="hero-mobile" src="/img/hero-mobile.png" alt="img-banner-ppal">
    </section>
        <main class="contenedor">
            <div class="saludo-login"> 
                <h4 class="hola-login">Hola<span class="punto-amarillo">.</span></h4>
            </div> 

                <div class="login-option">
                    <a href="/login" class="inicio-sesion"><P>Iniciar sesión</P></a>
                    <p>/</p>
                    <a href="/register"><p class="miembro-nuevo-login">¿Eres nuevo?</p></a>
                </div> 
                <form action="/" method="get" class="form-inicio">
                    <div>
                        <div>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="E-mail" required class="espacio-login">
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Contraseña" required class="espacio-login">
                        </div>
                        <div>
                            <a href="#" class="menu">Recuperar Contraseña</a>
                        </div>
                        <div class="button-login" >
                            <div>
                                <button type="submit" name="confirmar" id="confirmar" class="espacio-login">Iniciar Sesion</button>
                            </div>
                            <div>
                                <button type="reset" name="eliminar" id="eliminar">Regresar</button>
                            </div>
                        </div>
                        
                    </div>
                </form>    
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>


