<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacez</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa2d04da58.js" crossorigin="anonymous"></script>
</head> -->
<%- include ('./partials/head') %> 
<body>
<!--     <header class="header">
        <div class="contenedor header-container">
            <div class="burger-menu nav-icons">
                <i class="fas fa-bars"></i>
            </div>
            <img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo">
            <div class="product-cart nav-icons">
                <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
            </div>
        </div>
    </header> -->
    <%- include ('./partials/header') %>
    <main>
        <div class="compras contenedor ">
           <div class="bolsa"><h2>Bolsa de compras</h2></div>
            <div>
                <div class="lista-de-productos centrar">
                    <div class="producto centrar flex-lineal">
                        <div>
                            <img class="imagen-cart" src="\img\airmax-bw-marina.png" alt="zapatilla roja">
                        </div>
                        <div>
                            <P class="precio-prod">$130</P>
                            <h3 class="nombre-prod">Airmax</h3>
                            <P class="color-prod">Bw marina</P>
                            <p class="talla-prod">Talla 9,5</p>
                        </div>
                    </div>
                <div class="lista-de-productos centrar">
                    <div class="producto centrar flex-lineal">
                        <div>
                            <img class="imagen" src="\img\dunk-fossil-rose.png" alt="zapatilla gris">
                        </div>
                        <div>
                            <P class="precio-prod">$110</P>
                            <h3 class="nombre-prod">Dunk</h3>
                            <P class="color-prod">Fossil rose</P>
                            <p class="talla-prod">Talla 8,5</p>
                        </div>
                    </div>
                </div>
                <div class="centrar info-total">
                    <ul class="centrar list-info-total">
                        <li class="centrar">
                            <p class="precio-carro">Sub Total: $240</p>
                        </li>
                        <li class="centrar">
                            <p class="envio-carro">Envio: $55.00</p>
                        </li>
                        <li class="centrar">
                            <p class="total-carro">Total: $295</p>
                        </li>
                    </ul>
                </div>
                <div class="fin-compra centrar"><a class="centrar" href="/">Finalizar compra</a></div>
            </div>
        </div>
    </main>
<!--     <footer class="contenedor">
        <div class="footer-flex">
            <div class="redes">
                <div>
                    <h2 class="pie">Instagram</h2>                          
                </div>
                <div>
                    <h2 class="pie">Facebook</h2>
                </div>
                <div>
                    <h2 class="pie">Youtube</h2>                    
                </div>
            </div>
            <div class="politics">
                <p>Política de privacidad</p>
                <p>Condición de compra</p>
            </div>
        </div> 

        <div>
            <h4 class="copyright"><span>©2022 Lacez Society.</span> Todos los derechos reservados</h4>
        </div>                           
    </footer> -->
    <%- include ('./partials/footer') %>
</body>

</html>