<footer class="contenedor footer">
    <div class="line"></div>
    <div class="footer-flex">
        <div class="redes">
            <div>
                <h2 class="pie">Instagram</h2>                          
            </div>
            <div>
                <h2 class="pie">Facebook</h2>
            </div>
            <div>
                <h2 class="pie">Youtube</h2>                    
            </div>
        </div>
        <div class="politics">
            <p>Política de privacidad</p>
            <div class="politics-line"></div>
            <p>Condición de compra</p>
        </div>
    </div> 

    <div>
        <h4 class="copyright"><span>©2022 Lacez Society.</span><br> Todos los derechos reservados</h4>
    </div>                           
</footer>