<header class="header">
    <div class="contenedor header-container">
        <div class="burger-menu nav-icons">
            <a href="/login"><i class="fas fa-bars"></i></a>
        </div>
        <a  class="link-logo" href="/"><img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo"></a>
        <div class="product-cart nav-icons">
        <a href="/productCart"><i class="fa-solid fa-basket-shopping fad"></i></a>
        </div>
    </div>
</header>