<header class="header">
    <div class="contenedor header-container">
        <div class="nav-icons">
            <a href="/"><i class="burger-menu fas fa-bars"></i></a>
        </div>
        <a  class="link-logo" href="/"><img class="logo-nav" src="/img/logo-gris.png" alt="img-Logo"></a>
        <div class="nav-user-shopping">
            <div class="nav-icons">
                <a href="/login"><i class="fa-solid fa-user user-icon"></i></a>
            </div>
            <div class="nav-icons">
                <a href="products/productCart"><i class="fa-solid fa-basket-shopping fad product-cart"></i></a>
            </div>
        </div>
    </div>
</header>