<section class="container newsletter">
    <div id="popup" class="popup">
        <div class="popup__container">
            <p class="popup__text">Ha sido registrado a nuestro boletín electrónico</p>
        </div>
    </div>
  <h3 class="newsletter__tittle">
    NEWS<span class="newsletter__tittle-yellow">LETTER</span>
  </h3>
  <p class="newsletter__text">
    ¡Mantente actualizado sobre lanzamientos limitados, noticas y eventos!
  </p>
  <form id="newsletterform" class="newsletter__form" action="/">
    <input
      id="newsletterinput"
      class="newsletter__input"
      type="text"
      name="email"
      placeholder="Ingresa tu correo electrónico"
    />
    <button class="newsletter__button" type="submit">Quiero información</button>
    <div id="erroremail" class="error-text"></div>
    <div class="newsletter__remember">
      <label
        class="newsletter__remember-input newsletter__mobile"
        for="rememberUser"
      >
        Sí, me gustaría recibir la newsletter de Lacež Society.
      </label>
      <label
        class="newsletter__remember-input newsletter__desktop"
        for="rememberUser"
      >
        Sí, me gustaría recibir la newsletter de Lacež Society. Al registrarme
        en el boletín, acepto la información de protección de datos de Lacež
        Society y doy mi consentimiento para la recopilación, el almacenamiento
        y el procesamiento de datos allí descritos.
      </label>
      <input type="checkbox" name="remember_user" id="rememberUser" />
    </div>
  </form>
  <script src="/js/newsletter.js"></script>
</section>
